<link rel="stylesheet" type="text/css" href="css/home.css" />
<style>
/*.scroller {height:100%!important;}*/
.scroller {height:100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px;}
</style>
<div class="aviso-header" style="padding-bottom:5%;">
<div class="interior_dentro mas_padding" style="background:white; margin-top:10px; padding-top:5%; padding-bottom:5%;">
<script src="phonegap.js" type="text/javascript" charset="utf-8"></script>
<center><font face="sans-serif" size="-1"><h3>Aviso Legal y Condiciones del Servicio Nido Rest - App Móvil NidoPass SuperAdmin Control</h3></center>


<br>
<br>El presente documento regula las condiciones de uso de la aplicación para dispositivos móviles “NidoPass SuperAdmin Control” (en adelante, la APP), servicio prestado por Nido Aplicaciones SL (en adelante, NidoApp).
<br>La descarga, instalación y/o utilización de la APP implicará la aceptación íntegra y sin reservas de lo establecido en estas condiciones así como cualesquiera modificaciones posteriores, que constituyen los términos contractuales del servicio entre NidoApp y el USUARIO, entendiendo como tal la persona que realice los actos indicados.
<br>
<br>El USUARIO manifiesta tener la capacidad legal suficiente para comprender y comprometerse a lo establecido en este documento, respondiendo frente a NidoApp y terceros de los actos realizados en uso de la APP.
<br>
<br>
<center><h4>1. IDENTIFICACIÓN Y COMUNICACIONES</h4></center>
<br>
1.1 En cumplimiento con lo establecido en la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, se informa al USUARIO de los siguientes datos:
<br>
<br>Denominación social completa: Nido Aplicaciones SL
<br>Código de Identificación Fiscal núm.: B44244978
<br>Domicilio social: Vivero Andorra, C\Estación del Norte 6, <br>Despacho 4, 44500, Andorra, Teruel, España.
<br>Datos de contacto: info@nidoapp.com y teléfono +34 978 844 371.
<br>Inscrita en el Registro Mercantil de Teruel el 20/03/2012 en el Tomo 246, Folio 176, Inscripción 1, con hoja TE-5392
<br>
1.2 Todas las comunicaciones entre NidoApp y el USUARIO podrán ser realizadas por correo postal o electrónico. El USUARIO manifiesta que la dirección de correo proporcionada a NidoApp por cualquier medio es válida a los efectos anteriores. Asimismo, el USUARIO garantiza la veracidad, exactitud y actualidad de todos aquellos datos que comunique a NidoApp y será el único responsable de las manifestaciones falsas o inexactas que realice.
<br>
<br>
<center><h4>2. CONDICIONES DE ACCESO Y UTILIZACIÓN</h4></center>
<br>
2.1 La APP consiste en una aplicación para dispositivos móviles que permite la localización de establecimientos de restauración en función de la ubicación o localización física del USUARIO, tipo de cocina y precio. La APP permite asimismo la creación de listas de favoritos y la formalización de reservas en los establecimientos interesados.
<br>
<br>2.2 El acceso y utilización del servicio es libre y gratuita, no obstante podrá NidoApp condicionar la utilización de algunas funcionalidades, elementos o servicios de valor añadido a la previa cumplimentación del correspondiente formulario por parte del USUARIO, y a la autorización del uso de los datos personales solicitados para los fines indicados.
<br>
<br>El uso de la APP en itinerancia móvil podrá estar sujeto al pago de costes superiores o añadidos a los establecidos con carácter general por el operador del USUARIO. Dichos costes dependen de las condiciones de su contrato con el operador de comunicaciones, por lo que NidoApp no asumirá ninguna responsabilidad por lo anterior.
<br>
<br>2.3 La APP está disponible para terminales iPhone que soporten el sistema operativo iOS 6 y superior, así como terminales Android a partir de versiones 3.0 y superiores, pudiendo obtenerse en la App Store de Apple y en Google Play. El USUARIO deberá aceptar las condiciones y permisos indicados, autorizando la escritura y lectura de datos de contacto, acceso a Internet, la modificación y eliminación de contenidos y datos almacenados, y la configuración de ajustes de sonido, grabación de audio, realización y grabación de fotografías.
<br>
<br>Asimismo, la posibilidad de localizar y mostrar establecimientos en función de la ubicación física del USUARIO requerirá la activación de GPS y el acceso al geoposicionamiento determinado por el operador de red.
<br>
<br>2.4  El USUARIO se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de la APP exclusivamente a los fines indicados, no pudiendo, de forma enunciativa pero no limitativa, arrendar, prestar, vender o sublicenciar el servicio en su totalidad o separadamente, ni realizar cualquier acto de ingeniería inversa, descompilación, reproducción, trasformación, comunicación pública o distribución de sus elementos bajo cualquier forma.
<br>
<br>2.5 La formalización de una reserva a través de la APP implicará la cesión o comunicación de los datos proporcionados al establecimiento correspondiente, así como el compromiso por parte del USUARIO de su cumplimiento, salvo que alegue motivos justificados o cancele dicha reserva con antelación suficiente. En todo caso, las consecuencias de lo anterior serán ajenas a NidoApp y vendrán determinadas conforme a los criterios del establecimiento.
<br>
<br>
<center><h4>3. PROPIEDAD INTELECTUAL E INDUSTRIAL</h4></center>
<br>
3.1 La APP y los contenidos o información existente, ya sean textos, imágenes, sonidos, marcas, diseño, estructura de navegación, bases de datos, código fuente y objeto o cualesquiera otros que incorpore, incluyendo sus versiones o actualizaciones, están protegidos por la legislación sobre propiedad intelectual e industrial y son propiedad de NidoApp o de terceros que han autorizado su uso a NidoApp.
<br>
<br>3.2 Se autoriza el uso de la APP, sus servicios y contenidos anteriores a los efectos exclusivos de utilizar el servicio con las finalidades indicadas, sin que ello implique la concesión de ningún derecho, licencia o autorización en favor del USUARIO más allá de lo anterior.
<br>
<br>
<center><h4>4. POLÍTICA DE PRIVACIDAD</h4></center>
<br>
4.1 A través de la APP se recogen datos de carácter personal, todos ellos necesarios para la prestación y uso de los servicios indicados en estas condiciones, entre ellos los datos de identificación del usuario y relativos a su terminal, ubicación geográfica, y cualesquiera otros proporcionados al realizar una reserva. Asimismo, podremos solicitarle datos para la realización de encuestas que contribuyan a la mejora de nuestros servicios.
<br>
<br>Dichos datos serán tratados con la debida confidencialidad y conforme a los requerimientos legales correspondientes, y serán incorporados a un fichero titularidad de NidoApp y utilizados para la gestión, mantenimiento y mejora de la APP y los servicios proporcionados, así como para enviarle comunicaciones comerciales relativas a nuestros servicios y actividades. Sus datos no serán cedidos a terceros fuera de los casos legalmente permitidos y de acuerdo con lo previsto en el apartado siguiente.
<br>
<br>4.2 La formalización de una reserva a través de la APP implicará la cesión o comunicación de los datos proporcionados al establecimiento correspondiente, a fin de poder tramitar la petición. El tratamiento y uso de los datos por parte de dicho establecimiento es ajeno a NidoApp, debiendo contactar con los responsables del mismo a fin de ejercer los derechos que le confiere la ley.
<br>
<br>4.3 El USUARIO que utilice los servicios y contenidos de la APP presta su consentimiento al tratamiento y cesión de los datos establecido en los apartados anteriores. Sin perjuicio de ello, podrá en todo momento ejercer sus derechos de acceso, oposición, rectificación y cancelación de sus datos, de acuerdo con lo previsto en la legislación española sobre protección de datos, dirigiendo una comunicación por escrito a las direcciones indicadas en estas condiciones.
<br>
<br>
<center><h4>5. EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD</h4></center>
<br>
5.1 Los contenidos e información de la APP son de carácter general, tienen una finalidad meramente informativa, sin que se garantice plenamente su disponibilidad, actualidad, exhaustividad o ausencia de errores. NidoApp no será responsable de cualesquiera consecuencias, daños y perjuicios en caso de fallos, interrupciones o indisponibilidad del servicio y en general cualesquiera circunstancias que dependan de terceros proveedores o intermediarios, que se deriven de procedimientos de mantenimiento, actualización o seguridad, o del propio terminal, sistema operativo  u otras aplicaciones instaladas en el dispositivo del USUARIO.
<br>
<br>5.2 Los contenidos e información relativa a los establecimientos de restauración han sido proporcionados por los responsables de los mismos. NidoApp no responderá en ningún caso de la información anterior, ni del servicio o atención que dichos establecimientos proporcionen al USUARIO.
<br>
<br>5.3 En caso de errores en la información incluida en la APP, o la existencia de actividades ilícitas, le rogamos nos lo comunique a las direcciones indicadas a fin de que adoptemos las medidas oportunas.
<br>
<br>
<center><h4>6. LEY APLICABLE Y JURISDICCIÓN</h4></center>
<br>
Este contrato se regirá e interpretará conforme a la legislación española en aquello que no esté expresamente establecido. Las partes contratantes, con renuncia de forma expresa a cualquier otro foro que pudiera corresponderles, se someten, salvo en los casos en que no esté legalmente permitido, a la jurisdicción y competencia de los Juzgados y Tribunales de Zaragoza (España) para la resolución de cualquier cuestión que pudiera suscitarse en relación con el mismo.
<br>
<br>

<center>
    Aplicación móvil desarrollada por:
    <br>
    <a href="http://www.nidoapp.com"><img id="nidoImagen"  style=" content: url('./img/logonido.png'); width: 80px; "/></a>
    <br>Nido Aplicaciones SL 2014. Todos los derechos reservados.
    <br>Versión <b>1.0.0</b>
</center>
<a href="#" onclick="historyBack();" class="btn btn-default btn-large"> Volver</a>
</div>
</div>