<link rel="stylesheet" type="text/css" href="css/home.css" />
<style>
/*.scroller {height:100%!important;}*/
.scroller {height:100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px;}
</style>
<script src="phonegap.js" type="text/javascript" charset="utf-8"></script>
<div class="aviso-header">
<div class="interior_dentro mas_padding" style="background:white; margin-top:10px; padding-top:5%;">
    <p><center><h2>Ayuda:</h2></p>
    <p><center>Manual de usuario de la aplicación:
	<br> NidoRest es una aplicacion desarrollada por Nido aplicaciones SL para ser una solución a asociaciones y restaurantes que quieran tener una aplicación de reservas personalizada y a medida.
	<br> Gracias a NidoRest podrás introducir los datos de contacto de tu restaurante o de tus asociados, sus coordenadas, dando al cliente un medio para poder reservar desde su casa, confirmando desde SMS o desde tu correo electrónico.
	<br> Entre las características de NidoRest están las que te listamos a continuación:
	<br> - Servicio de Ruta (en coche o andando ) para llegar al restaurante.
	<br> - Almacenamiento de restaurantes favoritos.
	<br> - Fichas de restaurante con todos los datos del establecimiento.
	<br> - Integración de las redes sociales de la asociación / Restaurante.
	<br> - Servicio de reservas inteligente.
	<br> - Integración de contenido externo, tal como encuestas, formulario de contacto, etc.
	<br> - Sistema multiplataforma Android, IOS, Windows Phone, BlackBerry, Symbian y WebOS.
	<br> Si quieres más información, puedes cantactar con nosotros de las siguientes formas:
	<br> Telf: <a href="tel:+34 978 844 371">+34 978 844 371</a>  <a href="mailto:info@nidoapp.com">info@nidoapp.com</a></p>
    <p><center><a href="http://www.nidoapp.com"><img id="nidoImagen"  style=" content: url('./img/logonido.png'); width: 80px; "/></a>
		<br>2014. Todos los derechos reservados.</p>
		<span style="margin-top:10px; border:0px; margin-bottom:10px;">
		<a href="#" onclick="historyBack();" class="btn btn-default btn-large"> Volver</a>
</div>
<div class="reservas">
	
	</span>
</div>
</div>