<link rel="stylesheet" type="text/css" href="css/home.css" />
<style>
/*.scroller {height:100%!important;}*/
.scroller {height:100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px;}
</style>
<script src="phonegap.js" type="text/javascript" charset="utf-8"></script>
<div class="aviso-header" style="padding-bottom:5%;">
<div class="interior_dentro mas_padding" style="background:white; margin-top:10px; padding-top:5%; padding-bottom:5%;">
    <p><center><strong>Información de contacto:</strong></p>
    <p><center>Nido Aplicaciones SL
	<br> Vivero Andorra, C\Estación del Norte 6, Despacho 4, 44500, Andorra, Teruel, España
	<br> Telf: <a href="tel:+34 978 844 371">+34 978 844 371</a> - <a href="mailto:info@nidoapp.com">info@nidoapp.com</a></p>
    <p><center><strong>Síguenos en las Redes Sociales</strong></p>
    <p><table border="0" cellspacing="6"><tr><td colspan="2"><strong> Facebook </strong></td><td colspan="2"><strong> Twitter </strong></td><tr><td colspan="2"><a href="#" onclick="navigator.app.loadUrl('https://m.facebook.com/nidoapp', { openExternal:true });"><img src="./img/facebook_redondo.png" width="55"></a></td><td colspan="2"><a href="#" onclick="navigator.app.loadUrl('http://twitter.com/nidoapp', { openExternal:true });"><img src="./img/twitter_redondo.png" width="55"></td></a></table></p>
    <p><center><a href="#" onclick="navigator.app.loadUrl('http://www.nidoapp.com', { openExternal:true });"><img id="nidoImagen"  style=" content: url('./img/logonido.png'); width: 80px; "/></a>
		<br>2014. Todos los derechos reservados.</p>
		<span style="margin-top:10px; border:0px; margin-bottom:10px;">
		<a href="#" onclick="historyBack();" class="btn btn-default btn-large"> Volver</a>
</div>
<!--<div class="reservas">
	
	</span>
</div>-->
</div>