<link rel="stylesheet" type="text/css" href="css/home.css" />
<style>
/*.scroller {height:100%!important;}*/
</style>
<div class="main-header" style="padding-top:5%; background:#e5e4e2 !important; height:100% !important;">
    <ul class="listado" id="resultList" style="padding-top:5%; background:#e5e4e2 !important; padding-left:2% !important; padding-right:2% !important; width:100% !important;">
        <li><a href="#"><!--<img src="./img/ic_select.png" style="width:15px !important; float:right !important; margin-top:2%;" />--><p style="width:90% !important; margin-left:3px;">+ Albarracín</p><p style="width:90% !important; font-size:75%; margin-left:3px;">24/03/2014 - 13:30<br>Adultos: 4 - Niños: 3</p><p style="width:90% !important; margin-left:3px;">Estado: Confirmada</p></a></li>
        <li><a href="#"><!--<img src="./img/ic_select.png" style="width:15px !important; float:right !important; margin-top:2%;" />--><p style="width:90% !important; margin-left:3px;">Baltax</p><p style="width:90% !important; font-size:75%; margin-left:3px;">03/04/2014 - 14:00<br>Adultos: 2 - Niños: 1</p><p style="width:90% !important; margin-left:3px;">Estado: Cancelada</p></a></li>
        
    </ul>
</div>