<link rel="stylesheet" type="text/css" href="css/home.css" />
<style>
/*.scroller {height:100%!important;}*/
</style>
<div class="main-header" style="padding-top:5%;padding-bottom: 5% !important; background:#e5e4e2 !important; height:100% !important;">
<ul class="listado" id="resultList" style="padding-top:5%; padding-bottom: 15% !important; background:#e5e4e2 !important; padding-left:2% !important; padding-right:2% !important; width:100% !important;">
    <!--<li><a href="#" onclick="show('detallesEjemplo/noticia1Detail');"><img src="./img/ic_select.png" style="width:15px !important; float:right !important; margin-top:2%;" /><p style="width:70% !important; margin-left:3px;">Joaquín Pérez, profesor del curso de recepción en alojamientos: “Estoy seguro...</p></a></li>-->
    
</ul>
</div>

<!--<div data-role="page" id="mainPage">
    
    <div data-role="header">
        <h1></h1>
    </div>
    
    <div data-role="content">
        <ul id="linksList" data-role="listview" data-inset="true"></ul>
    </div>
    
    <div data-role="footer">
        <h4>SimpleBlog by Raymond Camden</h4>
    </div>
    
    
</div>

<div data-role="page" id="contentPage">
    
    <div data-role="header">
        <a href="#mainPage" data-rel="back">Home</a>
        <h1></h1>
    </div>
    
    <div data-role="content" id="entryText">
    </div>
    
</div>-->