
<style>
    .scroller {height:100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px; background:#FFFFFF;}
</style>
<div style="height:100% !important; padding-bottom:5% !important;">

<div class="aviso-header" style="padding-top:5% !important; padding-bottom:15% !important;">

	<div style="float:left;width:7%;"><a href="#" onclick="historyBack();"><img src="./img/ic_volver.png" style="width:8px;height:14px;padding-top: 37px;padding-left: 10px;"/></a></div>
	<div style="float:left;width:60%;"><h2 id="newsDetailTitle">Noticia Sin Título</h2></div>
    <div style="width:30%; float:right; height:5%;font-size:14px;">
        <div style="width:100%; float:right; right:10px !important;"><img id="iconTwitterDetail" src="./img/ic_twitter-green.png" /> <img id="iconFacebookDetail" src="./img/ic_facebook-green.png" /> <a id="linkMailDetail" href="" target="_blank"><img id="iconMailDetail" src="./img/ic_mail-green.png" /></a></div>
    </div>
	
<div style="clear:both;"></div>
<div class="interior_dentro" style="background:none; margin-top:2%; margin-left:-5px !important; width:100% !important; margin-bottom:10px; padding-bottom:5% !important;">
    <div class="fotos">
        <center><img id="newsDetailPhoto" style="width:95% !important; height:auto !important;" src="" /></center>
    </div>
</div>

<div class="interior_dentro mas_padding" style="background:white; margin-top:10px; padding-bottom:18% !important;">
	<p id="newsDetailDescription"> La noticia indicada no tiene contenido. Te recomendamos que visites esta noticia más adelante.</p>
</div>
</div>
</div>
