<link rel="stylesheet" type="text/css" href="css/home.css" />
<style>
/*.scroller {height:100%!important;}*/
</style>
<div class="main-header" style="padding-top:5%; background:#e5e4e2 !important; height:100% !important;">
    <ul class="listadopromo" id="resultList" style="padding-top:5%; background:#e5e4e2 !important; padding-left:2% !important; padding-right:2% !important; width:100% !important;">
        <!--<li><a href="#" onclick="show('detallesEjemplo/promocion1Detail');"><img src="./img/ic_select.png" style="width:15px !important; float:right !important; margin-top:2%;" /><img src="./templates/detallesEjemplo/imagenPromocion.png" style="width:100px !important;" /><p style="width:60% !important;">+ Albarracín</p><p style="width:90% !important; font-size:75%;">A 500m.<br>De 24/03/2014 al 10/05/2014<p style="width:100% !important;">Descuento del 20% en hamburquesas de la casa.</p></a></li>
       <li><a href="#"><img src="./img/ic_select.png" style="width:15px !important; float:right !important; margin-top:2%;" /><p style="width:90% !important;">Baltax</p><p style="width:90% !important; font-size:75%;">03/04/2014 - 14:00<br>Adultos: 2 - Niños: 1</p><p style="width:90% !important;">Estado: Cancelada</p></a></li>-->
        
    </ul>
</div>