<link rel="stylesheet" type="text/css" href="css/home.css" />
<link rel="stylesheet" type="text/css" href="css/range.css" />
<div style="margin-top:15px; margin-left:5px; background:white; margin-left:0px !important; margin-right:0px !important;">
    <style>
        /*.scroller {height:100%!important;}*/
        .scroller {height:93% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px;}
    </style>
    <div id="interior_dentro" class="interior_dentro mas_padding" style="background:white; margin-top:10px; padding-top:5% !important; padding-bottom:5%;">
        
        <div>
            <center><div style="width:30% !important;"><a href="javascript:searchPromotions(false)"><img src="img/m_promociones_mapa.png"/></a></div></center>
            
            <center><div style="padding-top:20px !important; padding-bottom:20px !important;"><img src="img/linea_menu-gray.png"/></a></div></center>
            
            <center><div style="width:30% !important;"><a href="javascript:searchPromotions(true);"><img src="img/m_promociones_lista.png"/></a></div></center>
            
        </div>
        
    </div>
</div>