<style>
    .scroller {height:100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px;}
</style>
<div class="aviso-header">
<div class="estatica">
<h2>Solicitud de reserva realizada correctamente</h2>
<p>La solicitud de reserva se ha realizado correctamente.</p>
<p>Recibirá confirmación muy pronto.</p>
<p>¡Gracias!</p>
<p>
<a href="#" onclick="showHome();" class="btn btn-default btn-large" style="margin-top: 10px; margin-bottom: 10px;">Inicio</a>
</p>
</div>
</div>