<div class="interior_dentro" style="margin-top:10px;">
<h3 class="titulo_reservar"><i class="icon-phone"></i> Reservar en Malvassia</h3>
</div>

	<div class="reservas">
		<span><input type="text" placeholder="Nombre"></span>
		<span style="background:#F8F8F8;"><input type="text" placeholder="Apellidos"></span>
		<span><input type="text" placeholder="Teléfono"></span>
		<span style="background:#F8F8F8;"><input type="text" placeholder="E-mail"></span>
		<span><select>
			<option>Adultos</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select></span>
            
            <span><select style="width:80px;">
			<option>Dia</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <select style="width:80px;">
			<option>Mes</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <select style="width:80px;">
			<option>Año</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </span>
            
            <span><select style="width:80px;">
			<option>Hora</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <select style="width:80px;">
			<option>Minutos</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </span>
            
            
            <span style="margin-top:10px; text-align:center; border:0px; margin-bottom:10px;"><button class="btn btn-success btn-large" type="submit">Reservar</button></span>
	</div>
