
<style>
    .scroller {height:100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; margin:0px; background:#FFFFFF;}
</style>
<div style="background:#FFFFFF !important; min-height:95%;">
<!--<img id="restaurantDetailMapImage" src="img/mapa.png" onclick="viewRestaurantMap();" style="width:100% !important; height:150px !important;">-->
<!--<div class="titulo_restaurante">
	<div class="favoritos"><a href="#" id="restaurantDetailSaveOrDeleteFavoriteButton"><i class="icon-bookmark"></i></a></div>
	
	<h3 id="restaurantDetailAddress" style="font-weight:300;">Sin Especificar</h3>
</div>-->
<div class="aviso-header" style="padding-top:5% !important; padding-bottom:15% !important;">
<!--<div style="height:20%;/*border-bottom: 1px solid #B4B4B4;*/padding-bottom: 10px; padding-top:5%;">-->
	<div style="float:left;width:7%;"><a href="#" onclick="historyBack();"><img src="./img/ic_volver.png" style="width:8px;height:14px;padding-top: 37px;padding-left: 10px;"/></a></div>
	<div style="float:left;width:40%;"><h2 id="ticketSaleDetailCustomerName">Sin Especificar</h2></div>
    <!--<div style="float:left; color:#414042;height:5%;font-size:14px; width:30%;">
        <div style="float:left; padding-left:10%; width:100%; padding-top:60px;"><a href="#" id="restaurantDetailValoration" onclick="javascript:getValoration();" class=""><i id="star1" class="icon-star"></i> <i id="star2" class="icon-star"></i> <i id="star3" class="icon-star"></i> <i id="star4" class="icon-star"></i> <i id="star5" class="icon-star"></i></a></div>
    </div>-->
	<!--<div style="float:left; margin-left:5%;"><img id="restaurantDetailSaveOrDeleteFavoriteButton" src="./img/ic_favoritos-green.png" style="width:10px;height:16px;padding-right:10px;padding-top: 37px;"></div>-->
	<!--<div style="float:left;"><a href="#" class="detailreserva" id="restaurantDetailReservationButton"><img id="restaurantDetailReservationButtonImg" src="./img/btn_reservas.png" style="padding-top: 27px; padding-left: 10px;"/></a></div>-->
<!--</div>-->
<div style="clear:both;"></div>

<div style="color:#414042;height:5%;font-size:14px;padding: 10px; margin-top:-20px !important;">
    <div style="float:left;padding-left:15px; width:100%;">
    	<hr style="border:none; border-top: 1px solid #B4B4B4;width:90%;margin-top:5px;margin-bottom:5px;">
    	<p id="ticketSaleDetailExternalId"></p>
    	<hr style="border:none; border-top: 1px solid #B4B4B4;width:90%;margin-top:5px;margin-bottom:5px;">
    	<p id="ticketSaleDetailTicketsNumbers"></p>
    	<hr style="border:none; border-top: 1px solid #B4B4B4;width:90%;margin-top:5px;margin-bottom:5px;">
    	<p id="ticketSaleDetailPromotionalCode"></p>
</div>
<hr style="border:none; border-top: 1px solid #B4B4B4;width:90%;margin-top:5px;margin-bottom:5px;margin-left:15px;">
<br/><br/>
<div id="ticketSaleDetailValidateButtons" style="text-align:center; width:100%;"></div>
   
</div>

</div>