<!--<div class="sub_menu_map"><a href="#">Lista</a><a href="javascript:viewMap();" class="sinlink">Mapa</a></div>-->
<style>
/*#resultList td,
#resultList th {
text-align:center !important;
border-bottom: 1px solid black;
}*/
</style>
<div id="totalTicketsValUnval" style="position:fixed;">
	<!--<a href="#" onclick="javascript:filterTicketsSalesList('dani');">
		<img src="./img/ic_busqueda.png" style="height:30px;position: absolute;right: 45px;margin-top:3%;"/>
	</a>-->
</div>
<div class="scroller" style="position:absolute;">
<ul class="listado" id="customersResultList" style="padding-top:20%; padding-bottom:20%; background:#e5e4e2 !important; padding-left:2% !important; padding-right:2% !important; width:96% !important;">
</ul>
</div>
<!--<div style="width:100% !important; padding-top:5%; padding-bottom:13%; background:#e5e4e2 !important;">
<center>
<table id="resultList" style="width:100% !important; border:1px solid black;">
	<thead>
		<th><b>Cliente</b></th>
		<th><b>Email</b></th>
		<th><b>Telefóno</b></th>
		<th><b>Localizador</b></th>
		<th><b>Total Entradas</b></th>
	</thead>
</table>
</center>
</div>-->